@model List<Project_02.Domain.ViewModels.RoleResultViewModel>

@{
    ViewData["Title"] = "لیست نقش‌ها";
}
<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">لیست نقش‌ها</h4>
            </div><!--end page-title-box-->
        </div><!--end col-->
    </div>
    <!-- end page title end breadcrumb -->
    <section id="basic-datatable">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-black">
                        <div class="search-box float-left col-md-6">
                            <input type="text" id="mySearchText" class="form-control" placeholder="جستجو ...">
                        </div>
                        <a type="button" href="@Url.Action("Create", "Roles")" class="btn btn-primary waves-effect waves-light col-md-6">+ افزودن نقش جدید</a>
                    </div>
                    <input hidden="hidden" id="StatusList" />
                    <div class="card-content">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive" id="orderTable">
                                <table id="dataTableStuff" class="table ">
                                    <thead>
                                        <tr>
                                            <th>@Html.DisplayNameFor(model => model.First().Row)</th>
                                            <th>@Html.DisplayNameFor(model => model.First().RoleName)</th>
                                            <th>@Html.DisplayNameFor(model => model.First().CreateDate)</th>
                                            <th>@Html.DisplayNameFor(model => model.First().Operation)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (var i = 0; i < Model.Count; i++)
                                        {
                                            <tr>
                                                <td>@(i + 1)</td>
                                                <td>@Model[i].RoleName</td>
                                                <td>@Model[i].CreateDate</td>
                                                <td>
                                                    <form method="post" style="display:inline;">
                                                        <a href="@Url.Action("Edit", "Roles", new { roleId = Model[i].RoleId })" class="tabledit-delete-button btn btn-sm btn-info" style="float: none; margin: 4px;"><span class="ti-pencil"></span></a>
                                                        <button asp-action="Delete" asp-route-roleId="@Model[i].RoleId" class="tabledit-delete-button btn btn-sm btn-danger" style="float: none; margin: 4px;"><span class="ti-trash"></span></button>
                                                    </form>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section MyStyles
{
    <link href="~/dark-rtl/assets/plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" />
}
@section MyScripts
{
    <script src="~/dark-rtl/assets/plugins/sweet-alert2/sweetalert2.min.js"></script>
    @* <script>
        function DeleteRole() {
            swal.fire({
                title: 'حذف نقش',
                text: "کاربر گرامی، از حذف این نقش مطمئن هستید؟",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#7cacbe',
                confirmButtonText: 'بله',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        success: function (response) {
                            if (response.isSuccess) {
                                swal.fire(
                                    'موفق!',
                                    'نقش با موفقیت حذف شد.',
                                    'success'
                                ).then(() => {
                                    location.reload();
                                });
                            } else {
                                swal.fire(
                                    'خطا!',
                                    response.message,
                                    'error'
                                );
                            }
                        },
                        error: function () {
                            swal.fire(
                                'خطا!',
                                'مشکلی در انجام عملیات رخ داده است.',
                                'error'
                            );
                        }
                    });
                }
            });
        }
    </script> *@
}