@model List<Project_02.Domain.ViewModels.UserResultViewModel>

@{
    ViewData["Title"] = "کاربران";
}
<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">کاربران</h4>
            </div><!--end page-title-box-->
        </div><!--end col-->
    </div>
    <!-- end page title end breadcrumb -->
    <section id="basic-datatable">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-black">
                        <div class="search-box float-left col-md-6">
                            <input type="text" id="mySearchText" class="form-control" placeholder="جستجو ...">
                        </div>
                        <a type="button" href="@Url.Action("Create", "Users")" class="btn btn-primary waves-effect waves-light col-md-6">+ افزودن نقش جدید</a>
                    </div>
                    <input hidden="hidden" id="StatusList" />
                    <div class="card-content">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive" id="orderTable">

                                <table class="table ">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.First().Row)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.First().UserName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.First().UserRole)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.First().CreateDate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.First().PhoneNumber)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.First().IsActive)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.First().Operation)
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (var i = 0; i < Model.Count; i++)
                                        {
                                            <tr>
                                                <td>@(i + 1)</td>
                                                <td>@Model[i].UserName</td>
                                                <td>@Model[i].UserRole</td>
                                                <td>@Model[i].CreateDate</td>
                                                <td>@Model[i].PhoneNumber</td>
                                                <td>
                                                    @if (Model[i].IsActive)
                                                    {
                                                        <span class="badge badge-soft-success">فعال</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge badge-soft-danger">غیر فعال</span>
                                                    }
                                                </td>
                                                <td>
                                                    <form method="post" style="display:inline;">
                                                        <button asp-action="ChangeStatues" asp-route-userId="@Model[i].UserId" class="btn btn-sm btn-primary" style="float: none; margin: 4px;"><span class="ti-exchange-vertical"></span></button>
                                                        <a href="@Url.Action("Edit", "Users", new { userId = Model[i].UserId })" class="tabledit-delete-button btn btn-sm btn-info" style="float: none; margin: 4px;"><span class="ti-pencil"></span></a>
                                                        <button asp-action="Delete" asp-route-userId="@Model[i].UserId" class="tabledit-delete-button btn btn-sm btn-danger" style="float: none; margin: 4px;"><span class="ti-trash"></span></button>
                                                    </form>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

