@model Project_02.Domain.ViewModels.RequestDetailsResultViewModel

@{
    ViewData["Title"] = "Detail";
}

<h1>جزئیات</h1>

<div>
    
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerDetails.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerDetails.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerDetails.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerDetails.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerDetails.Province.ProvinceName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerDetails.Province.ProvinceName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerDetails.Township.TownshipName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerDetails.Township.TownshipName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerDetails.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerDetails.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a href="~/requests/index" class="btn btn-danger waves-light">بازگشت به لیست </a>
</div>
