@using Project_02.Application.Interfaces
@model IEnumerable<Project_02.Domain.ViewModels.RequestResultViewModel>
@inject IPermissionService PermissionService

@{
    ViewBag.Title = "لیست درخواست ها";
    var userName = User.Identity.Name;
    var row = 1;

}

<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">لیست درخواست ها</h4>
            </div><!--end page-title-box-->
        </div><!--end col-->
    </div>
    <!-- end page title end breadcrumb -->
    <section id="basic-datatable">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-black">
                        <div id="datatable_filter" class="dataTables_filter float-left col-md-6">
                            <input type="text" id="mySearchText" class="form-control no-print" placeholder="جستجو ..." aria-controls="datatable">
                        </div>
                        @if (PermissionService.CheckPermission(19, @userName))
                        {
                            <a type="button" href="@Url.Action("Create", "Requests")" class="btn btn-primary waves-effect waves-light col-md-6 no-print">+ افزودن درخواست جدید</a>
                        }
                    </div>
                    <div class="card-header bg-black">
                        <a href="javascript:void(0);" onclick="Print();" class="btn btn-secondary waves-effect waves-light no-print"><i class="mdi mdi-printer"></i>  چاپ</a>
                        <a href="@Url.Action("ExportToExcel", "Requests")" class="btn btn-success waves-effect waves-light no-print"><i class="mdi mdi-file-xml"></i>  خروجی اکسل</a>
                    </div>
                    <input hidden="hidden" id="StatusList" />
                    <div class="card-content">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive">
                                <table id="datatable" class="table dt-responsive nowrap dataTable no-footer" role="grid" aria-describedby="datatable_info">
                                    <thead>
                                        <tr>
                                            <th>@Html.DisplayNameFor(model => model.Row)</th>
                                            <th>@Html.DisplayNameFor(model => model.CustomerName)</th>
                                            <th>@Html.DisplayNameFor(model => model.Date)</th>
                                            <th>@Html.DisplayNameFor(model => model.Province)</th>
                                            <th>@Html.DisplayNameFor(model => model.Township)</th>
                                            <th>@Html.DisplayNameFor(model => model.Description)</th>
                                            <th class="no-print">@Html.DisplayNameFor(model => model.Operation)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var request in Model.Reverse())
                                        {
                                            <tr >
                                                <td>@(row++)</td>
                                                <td>@request.CustomerName</td>
                                                <td>@request.Date</td>
                                                <td>@request.Province</td>
                                                <td>@request.Township</td>
                                                <td>@request.Description</td>
                                                <td class="no-print">
                                                    <form method="post" style="display:inline;">
                                                        @if (PermissionService.CheckPermission(18, @userName))
                                                        {
                                                            <a href="@Url.Action("Edit", "Requests", new { requestId = request.RequestId })" class="tabledit-delete-button btn btn-sm btn-info" style="float: none; margin: 4px;"><span class="ti-pencil"></span></a>
                                                        }
                                                        @if (PermissionService.CheckPermission(19, @userName))
                                                        {
                                                            <button type="button" onclick="DeleteRequest(@request.RequestId)" class="tabledit-delete-button btn btn-sm btn-danger" style="float: none; margin: 4px;"><span class="ti-trash"></span></button>
                                                        }
                                                        <a href="@Url.Action("Detail", "Requests", new { requestId = request.RequestId })" class="tabledit-delete-button btn btn-sm btn-primary" style="float: none; margin: 4px;"><span class="ti-id-badge"></span></a>
                                                    </form>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section MyStyles
{
    <link href="~/dark-rtl/assets/plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" />

}
@section MyScripts
{
    <script src="~/dark-rtl/assets/plugins/sweet-alert2/sweetalert2.min.js"></script>
    <script>
        function Print() {

            var elements = document.querySelectorAll('.no-print');
            elements.forEach(function (element) {
                element.style.display = 'none';
            });


            window.print();


            elements.forEach(function (element) {
                element.style.display = '';
            });
        }

        function DeleteRequest(requestId) {
            swal.fire({
                title: 'حذف درخواست',
                text: "کاربر گرامی از حذف درخواست مطمئن هستید؟",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#7cacbe',
                confirmButtonText: 'بله ، درخواست حذف شود',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.value) {
                    var postData = {
                        'requestId': requestId,
                    };

                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "POST",
                        url: "Delete",
                        data: postData,
                        success: function (response) {
                            location.reload();
                        },
                        error: function (xhr, status, error) {
                            swal.fire({
                                title: 'خطا',
                                text: 'مشکلی در حذف درخواست رخ داد!',
                                icon: 'error',
                                confirmButtonText: 'باشه'
                            });
                        }
                    });
                }
            })
        }

    </script>
}
