@using Project_02.Application.Interfaces
@model List<Project_02.Domain.ViewModels.RequestResultViewModel>
@inject IPermissionService PermissionService

@{
    ViewData["Title"] = "لیست درخواست ها";
    var userName = User.Identity.Name;
}

<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">لیست درخواست ها</h4>
            </div><!--end page-title-box-->
        </div><!--end col-->
    </div>
    <!-- end page title end breadcrumb -->
    <section id="basic-datatable">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-black">
                        <div class="search-box float-left col-md-6">
                            <input type="text" id="mySearchText" class="form-control no-print" placeholder="جستجو ...">
                        </div>
                        @if (PermissionService.CheckPermission(19, @userName))
                        {
                            <a type="button" href="@Url.Action("Create", "Requests")" class="btn btn-primary waves-effect waves-light col-md-6 no-print">+ افزودن درخواست جدید</a>
                        }
                    </div>
                    <div class="card-header bg-black">
                        <a href="javascript:void(0);" onclick="Print();" class="btn btn-secondary waves-effect waves-light no-print"><i class="mdi mdi-printer"></i>  چاپ</a>
                        <a href="@Url.Action("ExportToExcel", "Requests")" class="btn btn-success waves-effect waves-light no-print"><i class="mdi mdi-file-xml"></i>  خروجی اکسل</a>
                    </div>
                    <input hidden="hidden" id="StatusList" />
                    <div class="card-content">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive" id="orderTable">
                                <table id="dataTableStuff" class="table ">
                                    <thead>
                                        <tr>
                                            <th>@Html.DisplayNameFor(model => model.First().Row)</th>
                                            <th>@Html.DisplayNameFor(model => model.First().CustomerName)</th>
                                            <th>@Html.DisplayNameFor(model => model.First().Date)</th>
                                            <th>@Html.DisplayNameFor(model => model.First().Province)</th>
                                            <th>@Html.DisplayNameFor(model => model.First().Township)</th>
                                            <th>@Html.DisplayNameFor(model => model.First().Description)</th>
                                            <th class="no-print">@Html.DisplayNameFor(model => model.First().Operation)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (var i = 0; i < Model.Count; i++)
                                        {
                                            <tr>
                                                <td>@(i + 1)</td>
                                                <td>@Model[i].CustomerName</td>
                                                <td>@Model[i].Date</td>
                                                <td>@Model[i].Province</td>
                                                <td>@Model[i].Township</td>
                                                <td>@Model[i].Description</td>
                                                <td class="no-print">
                                                    <form method="post" style="display:inline;">
                                                        @if (PermissionService.CheckPermission(18, @userName))
                                                        {
                                                            <a href="@Url.Action("Edit", "Requests", new { requestId = Model[i].RequestId })" class="tabledit-delete-button btn btn-sm btn-info" style="float: none; margin: 4px;"><span class="ti-pencil"></span></a>
                                                        }
                                                        @if (PermissionService.CheckPermission(19, @userName))
                                                        {
                                                            <button asp-action="Delete" asp-route-requestId="@Model[i].RequestId" class="tabledit-delete-button btn btn-sm btn-danger" style="float: none; margin: 4px;"><span class="ti-trash"></span></button>
                                                        }
                                                        <a href="@Url.Action("Detail", "Requests", new { requestId = Model[i].RequestId })" class="tabledit-delete-button btn btn-sm btn-primary" style="float: none; margin: 4px;"><span class="ti-id-badge"></span></a>
                                                    </form>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section MyStyles
{
    <link href="~/dark-rtl/assets/plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" />

}
@section MyScripts
    {
        <script src="~/dark-rtl/assets/plugins/sweet-alert2/sweetalert2.min.js"></script>
        <script>
        function Print() {

            var elements = document.querySelectorAll('.no-print');
            elements.forEach(function (element) {
                element.style.display = 'none'; 
            });

            
            window.print();

  
            elements.forEach(function (element) {
                element.style.display = ''; 
            });
        }
       
        </script>
}
