@using Project_02.Application.Convertor
@model Project_02.Domain.ViewModels.CustomerDetailsResultViewModel

@{
    ViewData["Title"] = "Detail";
}

<h1>جزئیات مشتری</h1>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Province)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Province)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Township)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Township)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <div class="card-content">
            <div class="card-body card-dashboard">
                <div class="table-responsive" id="orderTable">
                    <table id="dataTableStuff" class="table ">
                        <thead>
                            <tr>
                                <th>ردیف</th>
                                <th>تاریخ ایجاد درخواست</th>
                                <th>توضیحات درخواست</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < Model.CustomerRequests.Count; i++)
                            {
                                <tr>
                                    <td>@(i + 1)</td>
                                    <td>@Model.CustomerRequests[i].Date.ToShamsi()</td>
                                    <td>@Model.CustomerRequests[i].Description</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </dl>
</div>

<div>
    <a href="~/customers/index" class="btn btn-danger waves-light">بازگشت به لیست </a>
</div>