@model List<Project_02.Domain.ViewModels.CustomerResultViewModel>
@{
    ViewData["Title"] = "مشتریان";
}

<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">لیست مشتریان</h4>
            </div><!--end page-title-box-->
        </div><!--end col-->
    </div>
    <!-- end page title end breadcrumb -->
    <section id="basic-datatable">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-black">
                        <div class="search-box float-left col-md-6">
                            <input type="text" id="mySearchText" class="form-control" placeholder="جستجو ...">
                        </div>
                        <a type="button" href="@Url.Action("Create", "Customers")" class="btn btn-primary waves-effect waves-light col-md-6">+ افزودن مشتری جدید</a>
                    </div>
                    <input hidden="hidden" id="StatusList" />
                    <div class="card-content">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive" id="orderTable">
                                <table id="dataTableStuff" class="table ">
                                    <thead>
                                        <tr>
                                            <th>@Html.DisplayNameFor(model => model.First().Row)</th>
                                            <th>@Html.DisplayNameFor(model => model.First().FullName)</th>
                                            <th>@Html.DisplayNameFor(model => model.First().CreateDate)</th>
                                            <th>@Html.DisplayNameFor(model => model.First().Province)</th>
                                            <th>@Html.DisplayNameFor(model => model.First().Township)</th>
                                            <th>@Html.DisplayNameFor(model => model.First().PhoneNumber)</th>
                                            <th>@Html.DisplayNameFor(model => model.First().Operation)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (var i = 0; i < Model.Count; i++)
                                        {
                                            <tr>
                                                <td>@(i + 1)</td>
                                                <td>@Model[i].FullName</td>
                                                <td>@Model[i].CreateDate</td>
                                                <td>@Model[i].Province</td>
                                                <td>@Model[i].Township</td>
                                                <td>@Model[i].PhoneNumber</td>
                                                <td>
                                                    <form method="post" style="display:inline;">
                                                        <a href="@Url.Action("Edit", "Customers", new { customerId = Model[i].CustomerId })" class="tabledit-delete-button btn btn-sm btn-info" style="float: none; margin: 4px;"><span class="ti-pencil"></span></a>
                                                        <button asp-action="Delete" asp-route-roleId="@Model[i].CustomerId" class="tabledit-delete-button btn btn-sm btn-danger" style="float: none; margin: 4px;"><span class="ti-trash"></span></button>
                                                        <a href="@Url.Action("Detail", "Customers", new { customerId = Model[i].CustomerId })" class="tabledit-delete-button btn btn-sm btn-primary" style="float: none; margin: 4px;"><span class="ti-id-badge"></span></a>
                                                    </form>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

